<% content_for :meta_title, t('.title') %>

<article class="admin-index">
  <h1><%= t('.title') %></h1>

  <div class="dashboard">
    <nav>
      <ul>
        <% if current_user_has_role? :administrator %>
            <li>
              <div><%= link_to t('admin.users.index.heading'), admin_users_path %></div>
              <div class="description"><%= t('admin.users.index.description') %></div>
            </li>
            <li>
              <div><%= link_to t('admin.tokens.index.heading'), admin_tokens_path %></div>
              <div class="description"><%= t('admin.tokens.index.description') %></div>
            </li>
            <li>
              <div><%= link_to t('admin.codes.index.heading'), admin_codes_path %></div>
              <div class="description"><%= t('admin.codes.index.description') %></div>
            </li>
            <li>
              <div><%= link_to t('admin.browsers.index.heading'), admin_browsers_path %></div>
              <div class="description"><%= t('admin.browsers.index.description') %></div>
            </li>
            <li>
              <div><%= link_to t('admin.agents.index.heading'), admin_agents_path %></div>
              <div class="description"><%= t('admin.agents.index.description') %></div>
            </li>
            <li>
              <div><%= link_to t('admin.metrics.index.heading'), admin_metrics_path %></div>
              <div class="description"><%= t('admin.metrics.index.heading') %></div>
            </li>
        <% end %>
      </ul>
    </nav>
  </div>
</article>
