<%= render 'news/summernote' %>
<%= render partial: 'shared/list_of_errors', locals: { entity: entity } %>

<%= form_for entity do |f| %>
    <table>
      <tbody>
      <tr>
        <td>
          <figure class="preview" id="post-image">
            <% if entity.image.blank? %>
                <%= image_tag 'image-placeholder.png' %>
            <% else %>
                <%= image_tag entity.image.big.url %>
            <% end %>
            <figcaption>
              <%= f.label :image %>
              <%= f.file_field :image, accept: 'image/jpeg,image/png', data: { image: 'post-image' } %>
            </figcaption>
          </figure>
        </td>
      </tr>
      <tr>
        <th><%= f.label :region_id %></th>
        <td><%= f.select :region_id, regions_for_select %></td>
      </tr>
      <tr>
        <th><%= f.label :title %></th>
        <td><%= f.text_field :title, size: 25, mexlength: Post::TITLE_LIMIT, required: true %></td>
      </tr>
      <% unless entity.id.nil? %>
          <tr>
            <th><%= f.label :slug %></th>
            <td><%= f.text_field :slug, size: 50, required: true %></td>
          </tr>
      <% end %>
      <tr>
        <td>
          <div><%= f.label :lead %></div>
          <%= f.text_area :lead, cols: 20, rows: 5, required: true %>
        </td>
      </tr>
      <tr>
        <td>
          <div><%= f.label :body %></div>
          <%= f.text_area :body, cols: 20, rows: 25, required: true, data: { provider: :summernote } %>
        </td>
      </tr>
      <tr>
        <th><%= f.label :post_type %></th>
        <td><%= f.select :post_type, post_types_for_select %></td>
      </tr>
      <tr>
        <td class="flags">
          <ul>
            <li><%= f.check_box :visible %><%= f.label :visible %></li>
          </ul>
        </td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <th>
          <%= f.button t(:save), type: :submit %>
        </th>
      </tr>
      </tfoot>
    </table>
<% end %>
