<div class="comment">
  <div class="title">
    <%= comment.commentable.model_name.human %>
    <cite><%= link_to comment.commentable.title, comment.commentable %></cite>
  </div>

  <div class="body">
    <%= simple_format comment.body %>
  </div>

  <div class="author">
    <%= user_link comment.user %>
    <%= time_tag comment.created_at %>
  </div>
</div>
