<article class="category">
  <h1><%= category.name %></h1>

  <table>
    <tbody>
    <tr>
      <th><%= t(:created_at) %></th>
      <td><%= time_tag category.created_at %></td>
    </tr>
    <tr>
      <th><%= t(:updated_at) %></th>
      <td><%= time_tag category.updated_at %></td>
    </tr>
    <% unless category.parent.nil? %>
        <tr>
          <th><%= t('activerecord.attributes.category.parent_id') %></th>
          <td><%= link_to category.parent.name, category.parent %></td>
        </tr>
        <tr>
          <th><%= t('activerecord.attributes.category.parents_cache') %></th>
          <td><%= category.parents_cache %></td>
        </tr>
    <% end %>
    <tr>
      <th><%= t('activerecord.attributes.category.children_cache') %></th>
      <td><%= category.children_cache %></td>
    </tr>
    </tbody>
  </table>

  <section>
    <h2><%= t('.children') %></h2>

    <%= render partial: 'admin/categories/list', locals: { collection: category.children.ordered_by_priority } %>
  </section>

  <section>
    <h2><%= t('.add_subcategory') %></h2>

    <%= render partial: 'categories/form', locals: { entity: category.children.new } %>
  </section>
</article>
