<% content_for :meta_title, t('.title') %>

<article class="entity-page">
  <h1><%= t('.title') %></h1>

  <ul class="actions">
    <li><%= create_icon new_category_path %></li>
    <li><%= list_icon admin_categories_path %></li>
    <li><%= detail_icon admin_category_path(@entity) %></li>
    <% if @entity.can_be_deleted? %>
        <li class="danger"><%= destroy_icon @entity %></li>
    <% end %>
  </ul>

  <%= render partial: 'form', locals: { entity: @entity } %>
</article>
