<% content_for :meta_title, t('.title', name: @entity.name) %>
<% content_for :options do %>
    <ul>
      <li><%= link_to t(:create), new_category_path %></li>
      <li><%= link_to t(:list), admin_categories_path %></li>
      <li><%= link_to t(:edit), edit_category_path(@entity) %></li>
      <% if @entity.can_be_deleted? %>
          <li><%= link_to_delete @entity %></li>
      <% end %>
    </ul>
<% end %>

<%= render @entity %>
